.casa {
	width: 150px;
	height: 150px;

	border-style: solid;
	border-color: black; 
	border-width: 1px;

	background-size: cover;
	background-position: center;
	
}

.linha{
	display: inline-block;
}

main{
	margin: auto;
	padding: 20px;

	font-family: Arial;
	text-align: center;
	color: white;

}

body{
	background-image: url(capa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}